<html>
  <head>
      <title>Jen's blog</title>
  </head>
  <body>
    <div>
        <h1><a href="">Jenvestigations, Inc.</a></h1>
    </div>
    <div>
        <p>published: 9.10.2015, 3:08pm</p>
        <h2><a href="">My first post</a><h2>
          <p>Jen traveled all the way to downtown Austin to learn Python and Django.</p>
    </div>
    <div>
        <p>published: 9.10.2015, 3:09pm</p>
        <h2><a href="">My second post</a></h2>
        <p>Jen met many delightful people during her journey, and ate some tofu.</p>
    </div>
  </body>
</html>
